
 ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color:#1f1f1f;
  position:relative;
}

 /* ul {margin-left:.5em}*/


 ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px dotted;
}

 li {
     list-style-type: none;
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  /* line-height:2em; default list item's `line-height` */

  position:relative;
}

 li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px dotted;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

 li:last-child:before {
  /* background:#ffffff; same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}

.md-typeset ol lo, .md-typeset ul li {
    margin-left: 1px;
}
