:root {
  --font-family-sans-serif:
    "Lexend",
    "Arial",
    "Helvetica",
    "Helvetica Neue",
    "Free Sans",
    "Noto Sans",
    "Noto Sans Symbols",
    "Noto Sans Symbols2",
    "Noto Color Emoji",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  --font-family-serif:
    "Lexend",
    "Times New Roman",
    "Times",
    "Noto Serif",
    "Noto Sans Symbols",
    "Noto Sans Symbols2",
    "Noto Color Emoji",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    serif;
  --font-family-monospace:
    "Noto Mono",
    "Courier New",
    "Courier",
    "Comic Code",
    "Monospace",
    "Noto Sans Symbols",
    "Noto Sans Symbols2",
    "Noto Color Emoji",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    monospace;

  --pst-header-height:                  4rem;
  --pst-header-article-height:          calc(var(--pst-header-height)*2/3);
  --pst-sidebar-secondary:              17rem;
  --pst-font-size-base:                 16px; /* */
  --pst-font-size-h1:                   2rem;
  --pst-font-size-h2:                   1.8rem;
  --pst-font-size-h3:                   1.6rem;
  --pst-font-size-h4:                   1.4rem;
  --pst-font-size-h5:                   1.2rem;
  --pst-font-size-h6:                   1.1rem;
  --pst-font-size-milli:                0.9rem;
  --pst-sidebar-font-size:              0.9rem;
  --pst-sidebar-font-size-mobile:       1.1rem;
  --pst-sidebar-header-font-size:       1.2rem;
  --pst-sidebar-header-font-weight:     600;
  --pst-admonition-font-weight-heading: 600;

  --pst-font-weight-caption:            400;
  --pst-font-weight-heading:            400;
  --pst-font-family-base-system:        var(--font-family-sans-serif),sans-serif;
  --pst-font-family-monospace-system:   var(--font-family-monospace),monospace;
  --pst-font-family-base:               var(--font-family-sans-serif);
  --pst-font-family-heading:            var(--font-family-sans-serif);
  --pst-font-family-monospace:          var(--font-family-monospace);

  --breakpoint-xs:0;
  --breakpoint-sm:540px;
  --breakpoint-md:720px;
  --breakpoint-lg:960px;
  --breakpoint-xl:1200px;

  /*
  --pst-font-size-icon:1.5rem;
  --pst-icon-check-circle:"";
  --pst-icon-info-circle:"";
  --pst-icon-exclamation-triangle:"";
  --pst-icon-exclamation-circle:"";
  --pst-icon-times-circle:"";
  --pst-icon-lightbulb:"";
  --pst-icon-download:"";
  --pst-icon-angle-left:"";
  --pst-icon-angle-right:"";
  --pst-icon-external-link:"";
  --pst-icon-search-minus:"";
  --pst-icon-github:"";
  --pst-icon-gitlab:"";
  --pst-icon-share:"";
  --pst-icon-bell:"";
  --pst-icon-pencil:"";
  --pst-breadcrumb-divider:"";
  --pst-icon-admonition-default:var(--pst-icon-bell);
  --pst-icon-admonition-note:var(--pst-icon-info-circle);
  --pst-icon-admonition-attention:var(--pst-icon-exclamation-circle);
  --pst-icon-admonition-caution:var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-warning:var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-danger:var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-error:var(--pst-icon-times-circle);
  --pst-icon-admonition-hint:var(--pst-icon-lightbulb);
  --pst-icon-admonition-tip:var(--pst-icon-lightbulb);
  --pst-icon-admonition-important:var(--pst-icon-exclamation-circle);
  --pst-icon-admonition-seealso:var(--pst-icon-share);
  --pst-icon-admonition-todo:var(--pst-icon-pencil);
  --pst-icon-versionmodified-default:var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-added:var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-changed:var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-deprecated:var(--pst-icon-exclamation-circle);
  */
}

html:not([data-theme]){
  --pst-color-primary:#459db9;
  --pst-color-secondary:#ee9040;
  --pst-color-info:#459db9;
  --pst-color-warning:#ee9040;
  --pst-color-success:#28a745;
  --pst-color-attention:#ffc107;
  --pst-color-danger:#dc3545;
  --pst-color-text-base:#323232;
  --pst-color-text-muted:#646464;
  --pst-color-shadow:#d8d8d8;
  --pst-color-border:#c9c9c9;
  --pst-color-inline-code:#e83e8c;
  --pst-color-target:#fbe54e;
  --pst-color-background:#fff;
  --pst-color-on-background:#fff;
  --pst-color-surface:#f5f5f5;
  --pst-color-on-surface:#e1e1e1;
  --pst-color-link:var(--pst-color-primary);
  --pst-color-link-hover:var(--pst-color-warning)
}

html[data-theme=light]{
  --pst-heading-color:        var(--Solarized-Custom-1);
  --pst-color-attention:      var(--Solarized-Orange);
  --pst-color-text-base:      var(--Solarized-Text-light);
  --pst-color-text-muted:     var(--Solarized-Base0);
  --pst-color-shadow:       #d8d8d8;
  --pst-color-border:       #c9c9c9;
  --pst-color-inline-code:    var(--Solarized-Magenta);
  --pst-color-target:         var(--Solarized-Yellow);
  --pst-color-background:     var(--Solarized-BG-light);
  --pst-color-on-background:  var(--Solarized-Base2);
  --pst-color-surface:        var(--Solarized-BG-light-contrast); /* BG Code */
  --pst-color-on-surface:   #e1e1e1;
  --pst-color-link:           var(--Solarized-Orange);
  --pst-color-link-hover:     var(--pst-color-warning);

  --bd-sidebar-primary-background-color:var(--Solarized-BG-light-contrast);

  --pst-color-primary:            var(--Solarized-Custom-1);
  --pst-color-primary-text:     #fff;
  --pst-color-primary-highlight:#306e81;
  --sd-color-primary:             var(--pst-color-primary);
  --sd-color-primary-text:        var(--pst-color-primary-text);
  --sd-color-primary-highlight:   var(--pst-color-primary-highlight);
  --pst-color-secondary:        #ee9040;
  --pst-color-secondary-text:   #fff;
  --pst-color-secondary-highlight:#cf6912;
  --sd-color-secondary:         var(--pst-color-secondary);
  --sd-color-secondary-text:    var(--pst-color-secondary-text);
  --sd-color-secondary-highlight: var(--pst-color-secondary-highlight);
  --pst-color-success:          var(--Solarized-Green);
  --pst-color-success-text:     #fff;
  --pst-color-success-highlight:#19692c;
  --sd-color-success:             var(--pst-color-success);
  --sd-color-success-text:        var(--pst-color-success-text);
  --sd-color-success-highlight:   var(--pst-color-success-highlight);
  --pst-color-info:             #459db9;
  --pst-color-info-text:        #fff;
  --pst-color-info-highlight:   #306e81;
  --sd-color-info:                var(--pst-color-info);
  --sd-color-info-text:           var(--pst-color-info-text);
  --sd-color-info-highlight:      var(--pst-color-info-highlight);
  --pst-color-warning:          #ee9040;
  --pst-color-warning-text:     #fff;
  --pst-color-warning-highlight:#cf6912;
  --sd-color-warning:           var(--pst-color-warning);
  --sd-color-warning-text:      var(--pst-color-warning-text);
  --sd-color-warning-highlight: var(--pst-color-warning-highlight);
  --pst-color-danger:           #dc3545;
  --pst-color-danger-text:      #fff;
  --pst-color-danger-highlight: #a71d2a;
  --sd-color-danger:var(--pst-color-danger);
  --sd-color-danger-text:var(--pst-color-danger-text);
  --sd-color-danger-highlight:var(--pst-color-danger-highlight);
  --pst-color-light:            #c9c9c9;
  --pst-color-light-text:       #000;
  --pst-color-light-highlight:  #a3a3a3;
  --sd-color-light:             var(--pst-color-light);
  --sd-color-light-text:        var(--pst-color-light-text);
  --sd-color-light-highlight:   var(--pst-color-light-highlight);
  --pst-color-muted:            #646464;
  --pst-color-muted-text:       #fff;
  --pst-color-muted-highlight:  #3e3e3e;
  --sd-color-muted:             var(--pst-color-muted);
  --sd-color-muted-text:        var(--pst-color-muted-text);
  --sd-color-muted-highlight:   var(--pst-color-muted-highlight);
  --pst-color-dark:             #323232;
  --pst-color-dark-text:        #fff;
  --pst-color-dark-highlight:   #0c0c0c;
  --sd-color-dark:              var(--pst-color-dark);
  --sd-color-dark-text:         var(--pst-color-dark-text);
  --sd-color-dark-highlight:    var(--pst-color-dark-highlight);
  --pst-color-black:            #000;
  --pst-color-black-text:       #fff;
  --pst-color-black-highlight:  #000;
  --sd-color-black:             var(--pst-color-black);
  --sd-color-black-text:        var(--pst-color-black-text);
  --sd-color-black-highlight:   var(--pst-color-black-highlight);
  --pst-color-white:            #fff;
  --pst-color-white-text:       #000;
  --pst-color-white-highlight:  #d9d9d9;
  --sd-color-white:             var(--pst-color-white);
  --sd-color-white-text:        var(--pst-color-white-text);
  --sd-color-white-highlight:   var(--pst-color-white-highlight);

    body {
    font-weight: 400;
  }
}

html[data-theme=dark]{
  --pst-heading-color:        var(--Solarized-BG-dark);
  --pst-color-attention:      var(--Solarized-Orange);
  --pst-color-text-base:      var(--Solarized-Text-dark);
  --pst-color-text-muted:   #a6a6a6;
  --pst-color-shadow:       var(--Solarized-Text-light);
  --pst-color-border:       silver;
  --pst-color-inline-code:    var(--Solarized-Cyan);
  --pst-color-target:       #472700;
  --pst-color-background:     var(--Solarized-BG-dark-contrast);
  --pst-color-on-background:  var(--Solarized-BG-dark);
  --pst-color-surface:      #212121;
  --pst-color-on-surface:   var(--Solarized-BG-dark);
  --pst-color-link:           var(--Solarized-Orange);
  --pst-color-link-hover:     var(--Solarized-Green);

  --bd-sidebar-primary-background-color:var(--Solarized-BG-dark-contrast);

  --pst-color-primary:              var(--Solarized-Orange);
  --pst-color-primary-text:       #fff;
  --pst-color-primary-highlight:  #306e81;
  --sd-color-primary:               var(--pst-color-primary);
  --sd-color-primary-text:          var(--pst-color-primary-text);
  --sd-color-primary-highlight:     var(--pst-color-primary-highlight);
  --pst-color-secondary:          #ee9040;
  --pst-color-secondary-text:     #fff;
  --pst-color-secondary-highlight:#cf6912;
  --sd-color-secondary:             var(--pst-color-secondary);
  --sd-color-secondary-text:        var(--pst-color-secondary-text);
  --sd-color-secondary-highlight:   var(--pst-color-secondary-highlight);
  --pst-color-success:            #488757;
  --pst-color-success-text:       #fff;
  --pst-color-success-highlight:  #2d5537;
  --sd-color-success:               var(--pst-color-success);
  --sd-color-success-text:          var(--pst-color-success-text);
  --sd-color-success-highlight:     var(--pst-color-success-highlight);
  --pst-color-info:               #459db9;
  --pst-color-info-text:          #fff;
  --pst-color-info-highlight:#306e81;
  --sd-color-info:var(--pst-color-info);
  --sd-color-info-text:var(--pst-color-info-text);
  --sd-color-info-highlight:var(--pst-color-info-highlight);
  --pst-color-warning:#ee9040;
  --pst-color-warning-text:#fff;
  --pst-color-warning-highlight:#cf6912;
  --sd-color-warning:var(--pst-color-warning);
  --sd-color-warning-text:var(--pst-color-warning-text);
  --sd-color-warning-highlight:var(--pst-color-warning-highlight);
  --pst-color-danger:#cb4653;
  --pst-color-danger-text:#fff;
  --pst-color-danger-highlight:#992b36;
  --sd-color-danger:var(--pst-color-danger);
  --sd-color-danger-text:var(--pst-color-danger-text);
  --sd-color-danger-highlight:var(--pst-color-danger-highlight);
  --pst-color-light:#c9c9c9;
  --pst-color-light-text:#000;
  --pst-color-light-highlight:#a3a3a3;
  --sd-color-light:var(--pst-color-light);
  --sd-color-light-text:var(--pst-color-light-text);
  --sd-color-light-highlight:var(--pst-color-light-highlight);
  --pst-color-muted:#a6a6a6;
  --pst-color-muted-text:#fff;
  --pst-color-muted-highlight:gray;
  --sd-color-muted:var(--pst-color-muted);
  --sd-color-muted-text:var(--pst-color-muted-text);
  --sd-color-muted-highlight:var(--pst-color-muted-highlight);
  --pst-color-dark:#cecece;
  --pst-color-dark-text:#000;
  --pst-color-dark-highlight:#a8a8a8;
  --sd-color-dark:var(--pst-color-dark);
  --sd-color-dark-text:var(--pst-color-dark-text);
  --sd-color-dark-highlight:var(--pst-color-dark-highlight);
  --pst-color-black:#000;
  --pst-color-black-text:#fff;
  --pst-color-black-highlight:#000;
  --sd-color-black:var(--pst-color-black);
  --sd-color-black-text:var(--pst-color-black-text);
  --sd-color-black-highlight:var(--pst-color-black-highlight);
  --pst-color-white:#fff;
  --pst-color-white-text:#000;
  --pst-color-white-highlight:#d9d9d9;
  --sd-color-white:var(--pst-color-white);
  --sd-color-white-text:var(--pst-color-white-text);
  --sd-color-white-highlight:var(--pst-color-white-highlight);

  .bd-article-container h1, .bd-article-container h2, .bd-article-container h3, .bd-article-container h4, .bd-article-container h5, .bd-article-container p.caption {
    color: var(--Solarized-Text-dark);
  }

  body {
    font-weight: 400;
  }
}

html[data-theme=dark],html[data-theme=light]{
  --sd-color-card-border:var(--pst-color-border)
}

